[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu126"
verify_ssl = true
name = "downloadpytorch"

[packages]
transformers = "==5.12.1"
peft = "==0.19.1"
torch = {version = "==2.12.1", index = "downloadpytorch"}

[dev-packages]

[requires]
python_version = "3.12"
